* {
	margin: 0px;
}

body {
	font-family: Arial, sans-serif;
	background: #eeeeee;
}

header {
	background: #444444;	
	color: white;
	padding: 64px;
	text-align: center;
}

main {
	margin: 0 auto;
	max-width: 50%;
	text-align: center;
}

section {
	text-align: left;
	background: white;
	padding: 32px;
	margin: 32px;
	border-radius: 16px;
	box-shadow: 4px 4px 8px #666666;
}

section h2 {
	padding-bottom: 16px;
	text-align: center;
}

button {
	background: #222222;
	border: none;
	border-radius: 12px;
	color: white;
	padding: 28px;
	box-shadow: 2px 2px 4px #444444;
	transition: color 0.2s, background 0.2s, box-shadow 0.2s;
}

button:hover {
	background: #333333;
	color: #eeeeee;
	box-shadow: 4px 4px 8px #444444;
}
