body {
	font-family: Arial, sans-serif;
	background: #dddddd;
	margin: 0px;
}

main {
	max-width: 30%;
	text-align: center;
	margin: 0 auto;
}

section {
	margin-top: 50%;
	background: white;
	padding: 32px;
	border-radius: 32px;
}

input {
	padding: 16px;
	margin: 12px;
	border-radius: 12px;
	border: solid;
	border-width: 1px;
	border-color: #555555;
}

button {
	margin: 16px;
	min-width: 128px;
	padding: 16px;
	background: #333333;
	border: none;
	border-radius: 12px;
	color: white;
	transition: background 0.2s, color 0.2s;
}

button:hover {
	color: #eeeeee;
	background: #222222;
}

p {
	margin: 0px;
	margin-top: 16px;
}
